# editor
.idea
.vscode

# dependencies
**/node_modules
**/package-lock.json
**/yarn.lock

## logs
**/logs
**/*.log

## pnpm
.pnpm-store/

## build
**/dist
**/build

## temp
**/tmp
**/temp

## test
**/coverage

# misc
.DS_Store

## env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

## turbo
.turbo

## secrets
**/*.key
**/api.json

## uploads
**/uploads

## compressed
**/*.tgz

## vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

## other keys
*.key
*.keys
*.priv
*.rsa
*.key.json

## ssh keys
*.ssh
*.ssh-key
.key-mrc

## Certificate Authority
*.ca

## Certificate
*.crt

## Certificate Sign Request
*.csr

## Certificate
*.der 

## Key database file
*.kdb

## OSCP request data
*.org

## PKCS #12
*.p12

## PEM-encoded certificate data
*.pem

## Random number seed
*.rnd

## SSLeay data
*.ssleay

## S/MIME message
*.smime
*.vsix
docker/airflow/dags/__pycache__/*.pyc
**/__pycache__/
__pycache__/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Secret environment variables
.env

# Static files
staticfiles/
staticfiles_nics/


# IDE files
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Virtual environment
venv/
.venv/
ENV/

# Compiled JavaScript
*.min.js

# Node modules
node_modules/

# System files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Pytest
.pytest_cache/

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env.local
.env.development.local
.env.test.local
.env.production.local

# certs file
certs/
docker/certbot/
docker/staticfiles/

#Continue
.continue
docker/airflow/airflow-webserver.pid

#packages
packages/server/*